body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.displayBanner{
  background-image: url('../images/harry-potter-wallpaper9.jpg');
}


.whiteText{
  color: white !important;
}

.boldText{
  font-weight: bold;
}

.navbar-toggle .whiteColor{
  background: white !important;
}

.fontBig{
  font-size: 1.2em;
}